@import '@assets/styles/colors';
@import '@assets/styles/variables';

.presentation-block {
  margin-top: 1em;

  .presentation-block__inner-wrapper {
    margin-bottom: -5em;
    padding: 0 2em;

    @media screen and (max-width: $media-tablet) {
      margin-bottom: 0;
    }

    @media screen and (max-width: $media-mobile-tablet) {
      padding: 0 0 2em 0;
    }

    .bg-block {
      position: relative;
      background: #222020 center right / contain no-repeat url(@assets/images/chicken.jpg);

      @media screen and (max-width: $media-tablet) {
        background: transparent;
      }
    }

    

    .mask {
      background: linear-gradient(to right, #222020 50%, transparent);
      padding: 3em;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: $media-laptop) {
        background: linear-gradient(to right, #222020 30%, transparent);
        padding: 1em;
        .card-block {
          margin-left: 3em;
        }
      }

      @media screen and (max-width: $media-tablet) {
        background: transparent;
        flex-direction: column-reverse;

        .text-block {
          margin-top: 3em;
          text-align: center;
        }

        .card-block {
          margin-left: 0
        }
      }

      .text-block {
        align-self: stretch; 

        .title {
          margin-top: 1em;

          font-family: inherit;
          font-size: 1.25em;
          font-weight: 500;
          color: $primary-color;
        }

        .subtitle {
          margin: 2em auto 0;

          max-width: 600px;

          font-family: inherit;
          font-size: 0.875em;
          font-weight: 400;
          line-height: 1.75em;
          color: $secondary-color;
        }

        button {
          margin-top: 2.5em;
        }
      }

      .card-block {
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: repeat(2, 280px);
        gap: 20px;

        @media screen and (max-width: $media-laptop) {
          grid-template-columns: repeat(2, 260px);
          grid-template-rows: repeat(2, 260px);
        }

        @media screen and (max-width: $media-tablet) {
          grid-template-columns: repeat(2, 220px);
          grid-template-rows: repeat(2, 220px);
          gap: 10px;
        }

        @media screen and (max-width: $media-mobile-tablet) {
          grid-template-columns: repeat(2, 180px);
          grid-template-rows: repeat(2, 180px);
        }

        @media screen and (max-width: $media-mobile) {
          grid-template-columns: repeat(2, minmax(110px, 140px));
          grid-template-rows: repeat(2, minmax(110px, 140px));
        }

        .item {
          background-color: rgba(70, 70, 70, 0.8);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          color: $primary-color;

          cursor: pointer;

          /* только для desktop версии, чтобы не залипало на сенсорных экранах*/
          @media (hover: hover) and (pointer: fine) {
            &:hover {
              box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.4);
              color: $green-color;

              svg {
                transform: scale(1.2);
                transition: all ease-in 0.1s;

                path {
                  fill: $green-color;
                }
              }
            }
          }

          svg {
            width: auto;
            height: 50px;
            transition: all ease-in 0.1s;

            @media screen and (max-width: $media-mobile) {
              height: 30px;
            }
          }

          p {
            margin-top: 2em;

            text-align: center;
            font-family: inherit;
            font-size: 1em;
            font-weight: 400;
            line-height: 1.25;
            color: inherit;

            @media screen and (max-width: $media-mobile) {
              font-size: 0.75em;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}