@import '@assets/styles/colors';
@import '@assets/styles/variables';

.search-form {
  /* если задать переменную из scss синтаксиса, то она не сработает для background в месте где мы устанавливаем размер для icon */
  --icon-size: 18px;
  $i: 24px;
  position: relative;
  
  width: 100%;
  height: 50px;

  overflow: hidden;
  border-radius: $br;

  input[type=text] {
    padding: 0px 44px 0px 40px;
    background: $bg-color center left 12px / var(--icon-size) no-repeat url(@assets/images/icons/location.svg);
    width: 100%;
    height: inherit;

    font-size: 0.9375em;

    border: 2px solid $bg-color;
    border-radius: inherit;
    
    &::placeholder {
      font-size: 1.125em;
    }

    /* если ширина input недостаточна для отображения всего текста placeholder, то отобразить троеточие */
    &:placeholder-shown {
      text-overflow: ellipsis;
    }

    &:focus {
      border: 2px solid $secondary-color;
    }
  }

  input[type=submit] {
    background: transparent center left / var(--icon-size) no-repeat url(@assets/images/icons/search.svg);
    position: absolute;
    top: 0;
    right: 0;

    padding: 0;
    margin: 0;

    width: 40px;
    height: inherit;

    border: none;
    cursor: pointer;

    transition: background ease-in 0.1s;

    /* только для desktop версии, чтобы не залипало на сенсорных экранах*/
    @media (hover: hover) and (pointer: fine) {
      /* проверяем что desktop с мышкой */
      &:hover {
        background-size: 20px;
        transition: background ease-in 0.1s;
      }
    }
    
    /* для события нажатия(эмуляция :hover) на сенсорных экранах */
    @media (hover: none) and (pointer: coarse) {
      /* проверяем, что смартфон или сенсорный экран */
      &:active {
        background-size: 20px;
        transition: background ease-in 0.1s;
      }
    }
  }
}