$br: 10px; /* закругления углов у блоков */
$media-mobile: 480px; /* ширина мобильного устройства */
$media-mobile-tablet: 767px; /* ширина перехода между мобильным устройством и планшетом */
$media-tablet: 1024px; /* ширина планшета */
$media-laptop: 1200px; /* ширина ноутбук */