*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(html, body, header, nav, aside, section, article, main, footer, figure, h1, h2, h3, h4, p, ul[class], ol[class], li, ) {
  margin: 0;
  padding: 0;
  vertical-align: baseline; 
  font: inherit;
  font-size: 100%;
}

:where(input, button, textarea, select) {
  font: inherit;
  outline: none;
  color: #FFFFFF;
}

:where(ul[class], ol[class]) {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}

